<?xml version='1.0' standalone='yes'?>
<!DOCTYPE PLUGIN [
<!ENTITY name       "network.disk.unlock">
<!ENTITY author     "greycubesgav">
<!ENTITY version    "2024.09.01">
<!ENTITY icon       "key">
<!ENTITY gitURL		  "https://github.com/greycubesgav/unraid-network-disk-unlock/releases/download/2024.09.01">
<!ENTITY pluginURL	"&gitURL;/network.disk.unlock.plg">
<!ENTITY pluginDIR  "/boot/config/plugins/&name;">
<!ENTITY emhttp     "/usr/local/emhttp/plugins/&name;">
<!ENTITY supportURL	"https://github.com/greycubesgav/unraid-templates/">
<!ENTITY src_name   "unraid.network.disk.unlock">
<!ENTITY src_pkg    "unraid.network.disk.unlock-01-noarch-GG_GG.txz">
<!ENTITY src_md5    "7b319a7260a16c4a00c08a882388237c">
<!ENTITY dep1_name  "clevis">
<!ENTITY dep1_pkg   "clevis-20-x86_64-GG_GG.tgz">
<!ENTITY dep1_md5   "14a2f1b2efd8e8711bd1a891bca52a2a">
<!ENTITY dep2_name  "jose">
<!ENTITY dep2_pkg   "jose-12-x86_64-GG_GG.tgz">
<!ENTITY dep2_md5   "7650a026fdb05d7b62825420ada8834f">
]>
<PLUGIN name="&name;"
		author="&author;"
		version="&version;"
		pluginURL="&pluginURL;"
		support="&supportURL;"
		icon="&icon;"
		min="6.12.0">
<CHANGES>
###2024.03.30
- Initial release based on clevis v20, built against cryptsetup-2.6.1
</CHANGES>

<!-- Install dep2 - jose -->
<FILE Name="&pluginDIR;/&dep2_pkg;" Run="upgradepkg --install-new --reinstall">
  <URL>&gitURL;/&dep2_pkg;</URL>
  <MD5>&dep2_md5;</MD5>
</FILE>

<!-- Install dep1 - clevis -->
<FILE Name="&pluginDIR;/&dep1_pkg;" Run="upgradepkg --install-new --reinstall">
  <URL>&gitURL;/&dep1_pkg;</URL>
  <MD5>&dep1_md5;</MD5>
</FILE>

<!-- Install pkg - unraid.network.disk.unlock -->
<FILE Name="&pluginDIR;/&src_pkg;" Run="upgradepkg --install-new --reinstall">
  <URL>&gitURL;/&src_pkg;</URL>
  <MD5>&src_md5;</MD5>
</FILE>

<!-- POST-INSTALL SCRIPT -->
<FILE Run="/bin/sh">
<INLINE>
cat &lt;&lt; EOF
+==============================================================================
Plugin &name; v&version; is installed

███████╗███████╗████████╗██╗   ██╗██████╗
██╔════╝██╔════╝╚══██╔══╝██║   ██║██╔══██╗
███████╗█████╗     ██║   ██║   ██║██████╔╝
╚════██║██╔══╝     ██║   ██║   ██║██╔═══╝
███████║███████╗   ██║   ╚██████╔╝██║
╚══════╝╚══════╝   ╚═╝    ╚═════╝ ╚═╝

This plugin requries a tang server to be accessible to your Unraid server.

See &supportURL; for simple instructions to setup a local tang server.

This plugin also requires a one time only clevis setup on each encrypted disk.
Open the Terminal in the Unraid webinterface and run the following command to
be guided through the process:

/usr/local/emhttp/plugins/network.disk.unlock/network.disk.unlock.setup.sh

For manual setup, see &supportURL; for full setup instructions.
+==============================================================================
EOF
</INLINE>
</FILE>

<FILE Run="/bin/bash" Method="remove">
<INLINE>
echo "----------------------------------------------------"
echo "------- Uninstalling &name; and dependancies -------"
echo "----------------------------------------------------"
# Remove plugin related files
echo "Removing &src_name;package...."
removepkg &pluginDIR;/&src_pkg;
echo "Removing &dep1_name; package...."
removepkg &pluginDIR;/&dep1_pkg;
echo "Removing &dep2_name; package...."
removepkg &pluginDIR;/&dep2_pkg;
echo "Removing web directory....."
rm -rf &emhttp;
echo "Removing plugin directory...."
rm -rf &pluginDIR;
echo
echo "--------------------------------------------------------------------------------"
echo "-------------------- &name; and dependancies uninstalled! ----------------------"
echo "--------------------------------------------------------------------------------"
echo
</INLINE>
</FILE>

</PLUGIN>